body {
	margin: 0;
}
/* Navigation Section */
.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 4.375rem;
	margin: 0 auto;
}

.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	
	letter-spacing: 0.03em;
	margin-top: 20px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links > li {
	display: inline-block;
	margin-left: 50px;
}

.top-navigation li a {
	color: #838994;
	text-decoration: none;
}

.top-navigation .links > .active a {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li a:hover {
	cursor: pointer;
	color: #333333;
}

.top-navigation .logo {
	margin-left: 8em;
	margin-top: .5em;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.introduction {
	background-image: url('../images/first-background.jpg ');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938em;
}

.introduction .content {
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}

.introduction h1 {
	margin-top: .02rem;
	padding-top: 15rem;
	font-size: 3.125rem;
}

.intoduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;

}

.introduction h1, .introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: table;
    margin: 0 auto;
}

button {
	transition: background-color 0.5s ease;
	background-color: #f15a29;
}

button:hover {
	background-color: #c93e11;
}

.cases .content {
	text-align: center;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	padding-top: 50px;
	-webkit-font-smoothing: antialiased;
}

.devices > li {
	vertical-align: top;
	display: inline-block;
	width: 32%;
    margin-left: auto;
    margin-right: auto;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding-top: 20px;
	text-align: center;
}

.vertical-line {
    height: 1px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.social .content h5 {
	margin-top: 100px;
	color: black;
	text-align: center;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

.media-icons > li i {
	display: inline-block;
	padding-bottom: 2em;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
}




